.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Presentation1.pptx
presentation.Rproj
rsconnect
screencast.gif
slides_ci.Rmd
spreadsheet.png
spreadsheet1.png
spreadsheetcombo.png
spreadsheetcombo.pptx
start_screencast.mov
start_screencast2.mov
